@{
    Layout = null;
}

<!DOCTYPE html>
<div>
    <html lang="en">

    @Html.Action("PartialHead", "Default")

    <body class="index-page">

        @Html.Action("PartialSidebar", "Default")

        <main class="main">

            @Html.Action("PartialHeroSection", "Default")

            @Html.Action("PartialAbout", "Default")

            <!-- Stats Section
            <section id="stats" class="stats section">

                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <div class="row gy-4">

                        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                            <i class="bi bi-emoji-smile"></i>
                            <div class="stats-item">
                                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Happy Clients</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                            <i class="bi bi-journal-richtext"></i>
                            <div class="stats-item">
                                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Projects</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                            <i class="bi bi-headset"></i>
                            <div class="stats-item">
                                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Hours Of Support</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                            <i class="bi bi-people"></i>
                            <div class="stats-item">
                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Hard Workers</p>
                            </div>
                        </div>

                    </div>

                </div>

                </section>


            <!-- /Stats Section -->
            <!-- Skills Section -->
            @Html.Action("PartialSkill", "Default")
            <!-- /Skills Section -->
            <!-- Resume Section -->
            <section id="resume" class="resume section">

                <!-- Section Title -->
                @Html.Action("PartialResume", "Default")

            </section>
            <!-- /Resume Section -->
            <!-- Portfolio Section -->
            @Html.Action("PartialPortfolio", "Default")
            <!-- /Portfolio Section -->
            <!-- Services Section -->
            <section id="services" class="services section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Hizmetler</h2>
                    <p>Size veri toplama, yapay zeka tabanlı nesne tespiti ve .NET/C# ile yazılım geliştirme konularında profesyonel destek sunabilirim. Aşağıdaki uzmanlık alanlarımla projelerinize en iyi çözümleri sağlamamı isterseniz ulaşmaktan çekinmeyin!</p>
                </div><!-- End Section Title -->

                <div class="container">

                    <div class="row gy-4">

                        @Html.Action("PartialService", "Default")

                    </div>

                </div>

            </section>
            <!-- /Services Section -->
            <!-- Testimonials Section -->
            <section id="testimonials" class="testimonials section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Referanslarım</h2>
                    <p>Referanslarımdan bazılarının yorumları;</p>
                </div><!-- End Section Title -->

                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <div class="swiper init-swiper">
                        <script type="application/json" class="swiper-config">
                            {
                              "loop": true,
                              "speed": 600,
                              "autoplay": {
                                "delay": 5000
                              },
                              "slidesPerView": "auto",
                              "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                              }
                            }
                        </script>
                        <div class="swiper-wrapper">

                            @Html.Action("PartialTestimonial", "Default")

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

            </section>
            <!-- /Testimonials Section -->
            <!-- Contact Section -->
            <section id="contact" class="contact section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>İletişim</h2>
                    <p>Bana ulaşmak isterseniz;</p>
                </div><!-- End Section Title -->

                <div class="container" data-aos="fade" data-aos-delay="100">

                    <div class="row gy-4">
                        <div class="col-lg-4">

                            @Html.Action("PartialContact", "Default")

                        </div>

                        <div class="col-lg-8" >
                            <form method="post" action="@Url.Action("SubmitContactForm", "Default")" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                                <div class="row gy-4">

                                    <div class="col-md-6">
                                        <input type="text" name="ContactName" class="form-control" placeholder="Adınız ve Soyadınız" required="">
                                    </div>

                                    <div class="col-md-6 ">
                                        <input type="email" class="form-control" name="ContactMail" placeholder="Mail adresiniz" required="">
                                    </div>

                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="ContactSubject" placeholder="Konu" required="">
                                    </div>

                                    <div class="col-md-12">
                                        <textarea class="form-control" name="ContactMessage" rows="6" placeholder="Mesajınız" required=""></textarea>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <div class="loading">Mesajınız yükleniyor</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Mesajınız gönderildi. Teşekkürler!</div>

                                        <button type="submit">Mesajı Gönder</button>
                                    </div>

                                </div>
                            </form>
                        </div><!-- End Contact Form -->

                    </div>
                </div>

            </section><!-- /Contact Section -->
        </main>

        <footer id="footer" class="footer position-relative light-background">
            <div class="container">
                <h3 class="sitename">Ömer Faruk Baltacı</h3>
                <p></p>
                <div class="social-links d-flex justify-content-center">

                    <a href="https://www.linkedin.com/in/omerfbaltaci/"><i class="bi bi-instagram"></i></a>
                    <a href="https://github.com/omerfbaltaci"><i class="bi bi-github"></i></a>
                    <a href="https://www.instagram.com/omerfaruk.q/"><i class="bi bi-linkedin"></i></a>
                </div>
                <div class="container">
                    <div class="copyright">
                        <span>Copyright</span> <strong class="px-1 sitename">Alex Smith</strong> <span>All Rights Reserved</span>
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you've purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distribuited by <a href="https://themewagon.com">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </footer>

        @Html.Action("PartialScripts", "Default")

    </body>

</html>
</div>
