@model AcunmedyaAkademiPortfolio.Models.TblTestimonial

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblTestimonial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestimonialID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
